body {
    margin: 0;
    
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #000000;

    background-color: #ffffff;
}
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
a {
    text-decoration: none;
    color: #000000;
}
.btn {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
}
.header {
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    background-color: #eeeeee;
}
.site-nav {
    display: flex;
    width: 440px;
    justify-content: space-between;
    margin-top: 80px;
    list-style: none;
}
.header a:hover,
.header a:focus {
    color: #fb565a;
}
.header a:active,
.header a:active {
    color: #000000;
    opacity: 0.3;
}
.services img {
    width: 300px;
    height: 146px;
}
.services h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}
.services p {
    color: #283136;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.web-site .btn {
    background-color: #fb565a;
}
.web-site .btn:hover,
.web-site .btn:focus {
    background-color: #e74246;
}
.web-site .btn:active {
    color: rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #d7373b;
}
.application .btn {
    background-color: #00ca74;
}
.application .btn:hover,
.application .btn:focus {
    background-color: #00bc6c;
}
.application .btn:active {
    color: rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #00aa62;
}
.presentation .btn {
    background-color: #efc84a;
}
.presentation .btn:hover,
.presentation .btn:active {
    background-color: #eab534;
}
.presentation .btn:active {
    color: rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #e5a722; 
}
.footer-label b {
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
}
.footer-label span {
    color: #444444;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}
.inner-page h1 {
    margin: 0;
    
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;
    text-align: center;

    background-color: #eeeeee;
}
.inner-page h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 0.05px;
}
.filter-selection label {
    color: #283136;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    cursor: pointer;
}
.inner-page button {
    font: inherit;
    font-weight: 500;
    
    text-align: center;
    color: #000000;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: #eeeeee;
    border: none;
}
.inner-page button:hover,
.inner-page button:focus {
    background-color: #dfdfdf;
}
.inner-page button:active {
    color: rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #d5d5d5; 
}
.sorting-type {
    color: rgba(0, 0, 0, 0.3);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
}
.sorting-type:hover,
.sorting-type:focus {
    color: rgba(0, 0, 0, 0.6);
}
.sorting-type:active {
    color: #000000;
}
/* .product {
    width: 360px;
    height: 615px;
} */
.product .pattern-info {
    background-color: #eeeeee;
    width: 360px;
    height: 230px;
    text-align: center;
    
}
.product img {
    width: 360px;
    height: 576px;
    border: 1px solid rgba(0, 1, 1, 0.1);
}
.pattern-info .description {
    color: #666666;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
}
.pattern-info a {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    background-color: #fb565a;
}
.pattern-info a:hover,
.pattern-info a:focus {
    background-color: #e74246;
}
.pattern-info a:active {
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    background-color: #d7373b;
}
.patterns {
    display: flex;
    width: 760px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sorting {
    width: 760px;
}
.main {
    display: flex;
}
.wrapper-patterns {
    width: 760px;
    display: block;
}
.filters {
    width: 260px;
}
.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}
.header-logo {
    width: 160px;
    height: 65px;
    margin: 0;
    margin-top: 50px;
    padding: 0;
}
.main-nav {
    width: 440px;
    margin: 0;
    padding: 0;
}
.cart-link {
    width: 160px;
    margin: 0;
    margin-top: 80px;
    padding: 0;
}
.header .container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}
.service {
    width: 300px;
}
.services {
    display: flex;
    justify-content: space-between;
    width: 1100px;
    margin: 0 auto;
    padding: 0;
    padding-left: 20px;
    padding-right: 80px;
    margin-bottom: 80px;
}
.footer {
    display: flex;
}
.footer-social {
    display: flex;
    justify-content: space-between;
    width: 260px;
    height: 80px;
    margin: 0;
    margin-right: 140px;
    
}
.footer-social a {
    border: 1px solid #e1e1e1;
    border-radius: 50%;
    background-color: #e1e1e1;
    
}
.footer-social a:first-child {
    padding: 30px 26px;
}
.footer-social a:nth-child(2) {
    padding: 30px 33px;
}
.footer-social a:last-child {
    padding: 29px;
}
.footer-label {
    width: 560px;
    margin-right: 200px;
}
.inner-page .container {
    margin-bottom: 0;
}
input[type=checkbox], input[type=radio] {
    display: none;
}
input[type=checkbox] + label::before {
      content:"";
      display: block;
      background: url("../img/checkbox-off.png") no-repeat center;
      height: 23px;
      width: 23px;
      text-align: center;
      white-space: nowrap;
      
}
input[type=checkbox]:checked + label::before {
      content:"";
      width: 27px;
      height: 23px;
      background: url("../img/checkbox-on.png") no-repeat center;
      
}
input[type=radio] + label:before {
      content:"";
      display: block;
      background: url("../img/radio-off.png") no-repeat center;
      height: 25px;
      width: 25px;
      text-align: center;
      
}
input[type=radio]:checked + label:before {
    background: url("../img/radio-on.png") no-repeat center; 
}
.pop-up {
    display: none;
}